<div class="container infoModule" >
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 userInfo">
			<div class="infoHeader">
				<h5 style="float: left;"><img src="img/icons-png/user-black.png"/>&nbsp;<span id="name">dsada</span>-个人信息</h5>
				<h5 style="float: right;"><a id="modifyUserInfo">[修改]</a></h5>
			</div>
			<hr />
			<p><img src="img/icons-png/bullets-black.png" />&nbsp;简介:</p>
			<p class="infoContent" id="shortDes">测试 测试 测试 测试 测试</p>
			<p><img src="img/icons-png/grid-black.png"/>&nbsp;详情:</p>
			<p class="infoContent" id="longDes">这是一段测试信息，这是一段测试信息，这是一段测试信息，这是一段测试信息，这是一段测试信息</p>
			<p><img src="img/icons-png/home-black.png"/>&nbsp;地址:&nbsp;<a id="addAddress">[增加]</a></p>
			<p class="infoContent" id="address">四川省XX市XX路XXX号XX大厦XX栋XX号</p>
		</div>
	</div>
	
</div>

<div class="container infoModule">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 userInfo">
			<div class="infoHeader">
				<h5 style="float: left;"><img src="img/icons-png/shop-black.png"/>&nbsp;我的商铺</h5>
				<h5 style="float: right;"><a>[增加]</a></h5>
			</div>
			<hr />
			<ul class="list-group" id="shopList">
				<li class="list-group-item">
					<p style="float: left;">aaa</p>
					<a style="float: right;">[修改]</a>
				</li>
				<li class="list-group-item">
					<p style="float: left;">aaa</p>
					<a style="float: right;">[修改]</a
				</li>
			</ul>
		</div>
	</div>
	
</div>

<div class="container infoModule">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 userInfo">
			<div class="infoHeader">
				<h5 style="float: left;"><img src="img/icons-png/bars-black.png"/>&nbsp;我的授课</h5>
				<h5 style="float: right;"><a>[增加]</a></h5>
			</div>
			<hr />
			<ul class="list-group" id="shopList">
				<li class="list-group-item">
					<p class="courseName">aaa</p>
					<a class="modifyCourse">[修改]</a>
				</li>
				<li class="list-group-item">
					<p class="courseName">aaa</p>
					<a class="modifyCourse">[修改]</a>
					<span class="badge" style="float: left;">试听课程</span>
				</li>
			</ul>
		</div>
	</div>
	
</div>