<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h4><img src="img/icons-png/eye-black.png"/>课程详情</h4>
			<hr />
			<div class="courseDetail_infoShow">
				<div>
					<label>课程名称：</label>
					<p id="courseDetail_courseName"></p>
				</div>
				<div>
					<label>课程类别：</label>
					<p id="courseDetail_courseType"></p>
				</div>
				<div>
					<label>课程时长：</label>
					<p id="courseDetail_courseLength"></p>
				</div>
				<div>
					<label>课程花费：</label>
					<p id="courseDetail_price"></p>
				</div>
				<div>
					<label>上课时间：</label>
					<p id="courseDetail_time"></p>
				</div>
				<div>
				<label>课程须知：</label>
					<p id="courseDetail_note"></p>
					</div>
				<div>
					<label>任课老师：</label>
					<p id="courseDetail_teacher">aaa</p>
				</div>
				<div>
					<label>老师简介：</label>
					<p id="courseDetail_teacherShort">aaa</p>
				</div>
				<div>
					<label>老师详情：</label>
					<p id="courseDetail_teacherLong"></p>
				</div>
			</div>
			<hr />
			<br />
			<button id="courseDetail_buyBtn" class="btn btn-success btn-block btn-wide" style="margin: auto;max-width: 200px;">购买该课程</button>
			<br />
			<a style="display: none;" id="courseDetail_callBtn" class="btn btn-warning btn-block btn-wide" style="margin: auto;max-width: 200px;">联系试听
				<span class="glyphicon glyphicon-phone"></span>
			</a>
		</div>
	</div>
</div>
