<div class="container ">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h4><img src="img/icons-png/recycle-black.png" />修改个人信息</h4>
			<div role="form" class="secendPage-form" id="modifyUserInfoForm-student">
			<div class="form-group">
				<label for="userName-student">填写姓名</label>
				<input type="text" class="form-control" id="userName-student"/>
			</div>
			<div class="form-group">
				<label for="desShort-student">填写简介</label>
				<input type="text" class="form-control" id="desShort-student"/>
			</div>
			<div class="form-group">
				<button class="btn btn-success btn-block" id="modifyUserInfoBtn-student">确认提交</button>
			</div>
		</div>
		</div>
	</div>
</div>
