<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h4><img src="img/icons-png/eye-black.png"/>已购课程详情</h4>
			<hr />
			<div class="paidCourseDetail_infoShow">
				<div>
					<label>课程名称：</label>
					<p id="paidCourseDetail_courseName"></p>
				</div>
				<div>
					<label>课程类别：</label>
					<p id="paidCourseDetail_courseType"></p>
				</div>
				<div>
					<label>课程状态</label>
					<p id="paidCourseDetail_status"></p>
				</div>
				<div>
					<label>课程时长：</label>
					<p id="paidCourseDetail_courseLength"></p>
				</div>
				<div>
					<label>课程花费：</label>
					<p id="paidCourseDetail_price"></p>
				</div>
				<div>
					<label>上课时间：</label>
					<p id="paidCourseDetail_time"></p>
				</div>
				<div>
				<label>课程须知：</label>
					<p id="paidCourseDetail_note"></p>
				</div>
				<hr />
				<div>
					<label>任课老师：</label>
					<p id="paidCourseDetail_teacher">aaa</p>
				</div>
				<div>
					<label>老师简介：</label>
					<p id="paidCourseDetail_teacherShort">aaa</p>
				</div>
				<div>
					<label>老师详情：</label>
					<p id="paidCourseDetail_teacherLong"></p>
				</div>
				<br />
				<button class="btn btn-block btn-success btn-wide" style="margin: auto;max-width: 200px;">联系任课老师</button>
			</div>
		</div>
	</div>
</div>
