<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h4><img src="img/icons-png/eye-black.png"/>已购课程详情</h4>
			<hr />
			<div class="paidCourseDetail_infoShow">
				<div>
					<label>课程名称：</label>
					<p id="paidCourseDetail_courseName"></p>
				</div>
				<div>
					<label>是否试听：</label>
					<p id="paidCourseDetail_trail"></p>
				</div>
				<div>
					<label>课程类别：</label>
					<p id="paidCourseDetail_courseType"></p>
				</div>
				<div>
					<label>课程状态：</label>
					<p id="paidCourseDetail_status"></p>
				</div>
				<div>
					<label>课程时长：</label>
					<p id="paidCourseDetail_courseLength"></p>
				</div>
				<div>
					<label>课程花费：</label>
					<p id="paidCourseDetail_price"></p>
				</div>
				<div>
					<label>上课时间：</label>
					<p id="paidCourseDetail_time"></p>
				</div>
				<div>
					<label>上课地点：</label>
					<div id="paidCourseDetail_address">
						<p style="display: none;text-indent: 2em;word-break: break-word;" class="address1"></p>
						<p style="display: none;text-indent: 2em;word-break: break-word;" class="address2">2</p>
					</div>
				</div>
				<div>
				<label>课程须知：</label>
					<p id="paidCourseDetail_note"></p>
				</div>
				<hr />
				<div>
					<label>任课老师：</label>
					<p id="paidCourseDetail_teacher">资料更新审核中</p>
				</div>
				<div>
					<label>老师简介：</label>
					<p id="paidCourseDetail_teacherShort">资料更新审核中</p>
				</div>
				<div>
					<label>老师详情：</label>
					<p id="paidCourseDetail_teacherLong">资料更新审核中</p>
				</div>
				
				<a id="paidCourseDetail_callBtn" class="btn btn-block btn-success btn-wide" style="margin: auto;margin-top: 5px;max-width: 200px;">联系任课老师
					<span class="glyphicon glyphicon-phone"></span>
				</a>
			</div>
		</div>
	</div>
</div>

<script>
function paidCourseDetail(data){
	var isTrail=true;
	var isING=false;
	$("#paidCourseDetail_courseName").html(data.courseName);
	$("#paidCourseDetail_courseType").html(data.courseType);
	$("#paidCourseDetail_courseLength").html(data.courseLength+"学时");
	$("#paidCourseDetail_price").html(Number(data.price)/100+" 元");
	$("#paidCourseDetail_time").html(data.time);
	$("#paidCourseDetail_note").html(data.note);
	$("#paidCourseDetail_callBtn").css("display","none");
	if(data.trail=="none"){
		isTrail=false;
		$("#paidCourseDetail_trail").html("否");
	}
	else{
		$("#paidCourseDetail_trail").html(data.trail);
	}
	if(data.state==0){
		$("#paidCourseDetail_status").html("已删除");
	}
	if(data.state==1){
		$("#paidCourseDetail_status").html("为审核");
	}
	else if(data.state==2){
		$("#paidCourseDetail_status").html("已审核");
	}
	else if(data.state==3){
		isING=true
		$("#paidCourseDetail_status").html("已支付");
	}
	else if(data.state==4){
		$("#paidCourseDetail_status").html("已退款");
		//$("#paidCourseDetail_callBtn").css("display","none");
	}
	else if(data.state==9){
		$("#paidCourseDetail_status").html("已完结");
		//$("#paidCourseDetail_callBtn").css("display","none");
	}
	
	var sendObj=new Object;
	sendObj.command="findUserByOpenid";
	sendObj.openid=data.openid;
	$.theAjax.post(sendObj,function(res){
		if(res.result="success"){
			for(var j=0;j<res.data.length;j++){
				if(res.data[j].userType=="teacher"){
					$("#paidCourseDetail_teacher").html(res.data[j].userName);
					$("#paidCourseDetail_teacherLong").html(res.data[j].desLong);
					$("#paidCourseDetail_teacherShort").html(res.data[j].desShort);
					if(isTrail==false&&isING==true){
						$("#paidCourseDetail_callBtn").css("display","block");
						$("#paidCourseDetail_callBtn").attr("href","tel:"+res.data[j].phoneNum);
					}
				}
			}
		}
		else{
			alert("获取老师信息失败，请重新查询！");
		}
	},null);
	
	if(data.address1!="none"){
		var addres1=new Object;
		addres1.command="getAddressById";
		addres1.addressId=data.address1;
		$.theAjax.post(addres1,function(res){
			if(res.result=="success"){
				$("#paidCourseDetail_address").find("p.address1").css("display","block");
				$("#paidCourseDetail_address").find("p.address1").html("地址1："+res.data[0].address);
			}
		},null);
	}
	if(data.address2!="none"){
		var addres2=new Object;
		addres2.command="getAddressById";
		addres2.addressId=data.address1;
		$.theAjax.post(addres1,function(res){
			if(res.result=="success"){
				$("#paidCourseDetail_address").find("p.address2").css("display","block");
				$("#paidCourseDetail_address").find("p.address2").html("地址2："+res.data[0].address);
			}
		},null);
	}
}

</script>
