<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h4><img src="img/icons-png/eye-black.png"/>已发布课程详情</h4>
			<hr />
			<div class="paidCourseDetail_infoShow">
				<div>
					<label>课程名称：</label>
					<p id="teacherCourseDetail_courseName"></p>
				</div>
				<div>
					<label>是否试听：</label>
					<p id="teacherCourseDetail_trail"></p>
				</div>
				<div>
					<label>课程类别：</label>
					<p id="teacherCourseDetail_courseType"></p>
				</div>
				<div>
					<label>课程状态：</label>
					<p id="teacherCourseDetail_status"></p>
				</div>
				<div>
					<label>课程时长：</label>
					<p id="teacherCourseDetail_courseLength"></p>
				</div>
				<div>
					<label>课程花费：</label>
					<p id="teacherCourseDetail_price"></p>
				</div>
				<div>
					<label>上课时间：</label>
					<p id="teacherCourseDetail_time"></p>
				</div>
				<div>
					<label>上课地点：</label>
					<div id="teacherCourseDetail_address">
						<p style="display: none;text-indent: 2em;word-break: break-word;" class="address1"></p>
						<p style="display: none;text-indent: 2em;word-break: break-word;" class="address2">2</p>
					</div>
				</div>
				<div>
				<label>课程须知：</label>
					<p id="teacherCourseDetail_note"></p>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
function teacherCourseDetail(data){
	var isTrail=true;
	var isING=false;
	$("#teacherCourseDetail_courseName").html(data.courseName);
	$("#teacherCourseDetail_courseType").html(data.courseType);
	$("#teacherCourseDetail_courseLength").html(data.courseLength+"学时");
	$("#teacherCourseDetail_price").html(Number(data.price)/100+" 元");
	$("#teacherCourseDetail_time").html(data.time);
	$("#teacherCourseDetail_note").html(data.note);
	$("#teacherCourseDetail_callBtn").css("display","none");
	if(data.trail=="none"){
		isTrail=false;
		$("#teacherCourseDetail_trail").html("否");
	}
	else{
		$("#teacherCourseDetail_trail").html(data.trail);
	}
	if(data.state==0){
		$("#teacherCourseDetail_status").html("已删除");
	}
	if(data.state==1){
		$("#teacherCourseDetail_status").html("为审核");
	}
	else if(data.state==2){
		$("#teacherCourseDetail_status").html("已审核");
	}
	else if(data.state==3){
		isING=true
		$("#teacherCourseDetail_status").html("已支付");
	}
	else if(data.state==4){
		$("#teacherCourseDetail_status").html("已退款");
		//$("#teacherCourseDetail_callBtn").css("display","none");
	}
	else if(data.state==9){
		$("#teacherCourseDetail_status").html("已完结");
		//$("#teacherCourseDetail_callBtn").css("display","none");
	}
	
	if(data.address1!="none"){
		var addres1=new Object;
		addres1.command="getAddressById";
		addres1.addressId=data.address1;
		$.theAjax.post(addres1,function(res){
			if(res.result=="success"){
				$("#teacherCourseDetail_address").find("p.address1").css("display","block");
				$("#teacherCourseDetail_address").find("p.address1").html("地址1："+res.data[0].address);
			}
		},null);
	}
	if(data.address2!="none"){
		var addres2=new Object;
		addres2.command="getAddressById";
		addres2.addressId=data.address1;
		$.theAjax.post(addres1,function(res){
			if(res.result=="success"){
				$("#teacherCourseDetail_address").find("p.address2").css("display","block");
				$("#teacherCourseDetail_address").find("p.address2").html("地址2："+res.data[0].address);
			}
		},null);
	}
}
</script>
